# PostgreSQL Database
DB_HOST=credpal-db
DB_USER=app
DB_PASSWORD=changethis123
DB_NAME=app
DB_PORT=5432

# Node.js Application
PORT=3000
NODE_ENV=development

# DockerHub (optional, if building/pushing images)
DOCKERHUB_USERNAME=your-dockerhub-username
DOCKERHUB_PASSWORD=your-dockerhub-password

# SSL / ACM (if used in prod with Terraform)
ACM_CERTIFICATE_ARN=your-acm-certificate-arn
